[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pylint = "*"
"pytest.cov" = "*"
pytest-cov = "*"
click = "*"
pytest-mock = "*"
xlsxwriter = "*"

[dev-packages]
yapf = "*"
pandas = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
